
.App{
  min-height: 100vh;
}

main{
  flex: 1;
}

.featured {
  font-size: calc(20px + 2vmin);
  text-align: center;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 2px solid ;
  margin : 20px;
}

.product img{
  width: 100%;
  max-width: 300px;
}
.product-info{
  margin : 20px
}
.rating span{
  color: rgb(243, 231, 17);
}
.btn-primary{
  background-color:rgb(250, 210, 118);
  color:  black;
}



