
.App{
  min-height: 100vh;
}

main{
  flex: 1;
}


.featured {
  font-size: calc(20px + 2vmin);
  text-align: center;
}
.shopping-cart{
  text-align: center;
}


.rating span{
  color: rgb(243, 231, 17);
}
.btn-primary{
  background-color:rgb(251, 207, 104);
  color:  black;
}
.img-large{
  width: 100%;
}
.img-thumbnail{
  height: 80px
}
.small-container{
  max-width: 600px;
}
.loading{
  text-align: center;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color:#a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color:#f08000;
}


