
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* position: relative; */
}
.App-header{
  /* width: 100%; */
  top: 0;
  position: sticky;
  z-index: 1;
  font-size:medium;
}

main{
  flex: 1;
  margin-top: 20px;
}


.featured {
  font-size: calc(20px + 2vmin);
  text-align: center;
}
.shopping-cart{
  text-align: center;
}

.homeScreen-card-img{
  /* width: 300px; */
  height: 350px;
  padding: 20px;
}

.homescreen-card-title{
  /* width: 280px; */
  height: 30px;
  overflow: hidden;
} 
.rating span{
  color: rgb(243, 231, 17);
}
.btn-primary{
  background-color:rgb(251, 207, 104);
  color:  black;
}
.img-large{
  width: 100%;
}
.img-thumbnail{
  height: 80px
}
.small-container{
  max-width: 600px;
}
.loading{
  text-align: center;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color:#a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color:#f08000;
}

/* sidebar */
.side-navbar {
  
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -240px;
  background-color: #100901;
  transition: 0.5s;
  z-index: 1;

}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left : 0;
}
.site-container {
  transition: 0.5s;
}
.sidebar-link {
  color: azure;
}
.sidebar-link:hover {
  color: rgb(240, 224, 48);
}
.order-history{
  overflow: auto;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .active-cont {
    margin-left: 0;
  }
}